/* Init Tailwind */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Write your custom css code here */

body {
  background-color: #e3e3e3;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  color: #4a5568;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 53px;
  color: #38b2ac;
}
h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 31px;
  line-height: 48px;
}

.logo-svg {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
  -webkit-transition: opacity 1000ms ease-in;
  -moz-transition: opacity 1000ms ease-in;
  -ms-transition: opacity 1000ms ease-in;
  -o-transition: opacity 1000ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-in;
  -webkit-transition: opacity 1000ms ease-in;
  -moz-transition: opacity 1000ms ease-in;
  -ms-transition: opacity 1000ms ease-in;
  -o-transition: opacity 1000ms ease-in;
}
